.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.recipe_header {
    margin-top: 5px;
}

.main-container{
    margin-top: 15px;
}

.fab-button{
    background-color: #ee6e73;
}

.mobile-nav{
    margin-top: 25%;
}