.container{
    min-width: 85%;
}

.btn-x-small {
    height: 26px;
    line-height: 26px;
}

.cancel-float-right {
    float: right;
}

.raisin-black {
    background-color: #252627;
}

.alabaster {
    background-color: #F2EFE9;
}

.grey {
    background-color: #564E58;
}

.khaki {
    background-color: #BFB48F;
}

.rose-taupe {
    background-color: #904E55;
}

.badge.new.rose-taupe {
    background-color: #904E55;
    border-radius: 15px 50px;
}

.btn {
    border-radius: 25px;
}

.card-action-bgcolor {
    background-color: #F2EFE9;
}

.refine-menu {
    margin-top: 15%;
}

.refine-menu li {
    margin-top: 10px;
}

.dropdown-content {
    width: max-content !important;
    height: auto !important;
}

.search-submit-button {
    margin: -30px;
}

.card-title-text {
    color: #fff;
    text-decoration: none;
}

.recipe-title-text {
    color: #904E55;
    text-decoration: none;
}

.fab-button {
    background-color: #904E55;
}

.nav-bgc {
    background-color: #564E58;
}

.body-custom {
    background-color: rgb(243, 241, 237);    
}

.strong-text {
    color: #252627;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.recipe_header {
    margin-top: 5px;
}

.main-container {
    /* background-color: #904E55; */
    margin-top: 15px;
}

/* .fab-button{
    background-color: #904E55;
} */
.mobile-nav {
    margin-top: 25%;
}

/* 3rd party CSS **************************************************************/

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    /* border: 1px solid red; */
    background-color: #fff;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}