{% extends 'base.html' %} {% block add_recipe %}
<div class="container form-container">
    <div class="row margin-bottom-5vh">
        <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s10 offset-s1 l8 offset-l2 add-recipe-form">
            <div class="row">
                <h5>Add recipe</h5>
                <hr>
                <div class="input-field col s12">
                    <div class="row">
                        <div class="input-field"><input id="title" name="title" type="text" value="" required>
                            <label for="title">Title</label></div>
                        <div class="input-field">
                            <input id="description" name="description" type="text" value="" required>
                            <label for="description">Description</label>
                        </div>
                        <div class="input-field">
                            <input id="method" name="method" type="text" value="" required>
                            <label for="method">Method</label>
                        </div>
                    </div>
                </div>
                <div id="TextBoxesGroupIngredients">
                    <!-- Ingredients -->
                    <div class="input-field col s6" id="TextBoxDivIngredients">
                        <input id="recipe_ingredient" name="ingredient" type="text" value="">
                        <label for="recipe_ingredient">Ingredient 1</label>
                        <div class="row">
                            <a class="btn waves-effect waves-light btn-x-small" id="addIngredient"><i class="fa fa-plus"
                                    aria-hidden="true"></i></a>
                            <a class="btn waves-effect waves-light btn-x-small red removeIngredientDiv" id="removeIngredient"
                                style="display: none"><i class="fa fa-minus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="input-field col s12">
                    <div class="col s6 l3 input-field" id="recipe_meal">
                        <select class="form-control" id="meal" name="meal">
                            <option value="" disabled selected>Meal</option>
                            {% for meal in meals %}
                            <option value="{{meal.meal}}">{{meal.meal}}</option>
                            {% endfor %}
                            <label for="recipe_meal">Meal</label>
                        </select>
                    </div>
                    <div class="col s6 l3 input-field">
                        <input id="recipe_serves" name="serves" type="text" placeholder="Serves" value="" required>
                        <label for="recipe_serves">Serves</label>
                    </div>

                    <div class="col s6 l3 input-field">
                        <input id="recipe_cook_time" name="cooking_time" type="text" placeholder="Cooking time" value=""
                            required>
                        <label for="recipe_cook_time">Cooking time</label>
                    </div>
                    <div class="col s6 l3 input-field">
                        <input id="recipe_prep_time" name="prep_time" type="text" placeholder="Prep time" value=""
                            required>
                        <label for="recipe_prep_time">Prep time</label>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 l5">
                <select id="cuisine_name" name="cuisine">
                    <option value="" disabled selected>Choose cuisine</option>
                    {% for cuisine in cuisines %}
                    <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- User -->
            <div class="input-field col s12 l5 offset-l2">
                <select id="user_name" name="user">
                    <option value="" disabled selected>User</option>
                    {% for user in users %}
                    <option value="{{user.user_name}}">{{user.user_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row add-recipe-submit-btns center-align">
                <button class="btn waves-effect waves-light hvr-icon-up" type="submit" name="">Submit
                    <i class="fa fa-paper-plane-o hvr-icon"></i>
                </button>
                <a href="{{url_for('get_recipes')}}" class="btn waves-effect waves-light red">Cancel
                    <!-- <i class="material-icons left">cancel</i> -->
                </a>
            </div>

            <!-- Ingredients -->
            <!-- <div class="row">
                    <div class="input-field col s6 l3">
                        <i class="material-icons prefix">shopping_cart</i>
                        <input id="ingredient_name" name="ingredient1" type="text">
                        <label for="icon_prefix">Ingredients:</label>
                    </div>
                    <div class="input-field col s6 l3">
                        <i class="material-icons prefix">shopping_cart</i>
                        <input id="ingredient_name" name="ingredient2" type="text">
                        <label for="icon_prefix">Ingredients:</label>
                    </div>
                    <div class="input-field col s6 l3">
                        <i class="material-icons prefix">shopping_cart</i>
                        <input id="ingredient_name" name="ingredient3" type="text">
                        <label for="icon_prefix">Ingredients:</label>
                    </div>
                    <div class="input-field col s6 l3">
                        <i class="material-icons prefix">shopping_cart</i>
                        <input id="ingredient_name" name="ingredient4" type="text">
                        <label for="icon_prefix">Ingredients:</label>
                    </div>
                </div> -->
            <!-- Allergens -->
            <!-- <div class="input-field col s6 l6">
                    <i class="material-icons prefix">warning</i>
                    <select multiple id="allergens" name="allergens[]">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>    
                    </select>
                </div> -->

            <!-- <div class="row">
                    <div class="switch">
                        <label>
                            <input id="is_urgent" name="is_urgent" type="checkbox">
                            <span class="lever"></span>
                            Is Urgent
                        </label>
                    </div>
                </div> -->

    </div>
    </form>
</div>
</div>

{% endblock %}