<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PyCook | A Cookbook for Pythons!</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body class="body-custom">
    <header>
        <nav class="nav-bgc">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="{{url_for('home_page')}}" class="brand-logo">Cook Book</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="{{url_for('home_page')}}">Home</a>
                        </li>
                        <li>
                            <a href="{{url_for('get_recipes')}}">Recipes</a>
                        </li>
                        <!-- <li>
                            <a href="{{url_for('add_recipe')}}">New Recipe</a>
                        </li> -->
                        <li>
                            <a href="{{url_for('get_cuisines')}}">Cuisines</a>
                        </li>
                        <!-- <li>
                            <a href="{{url_for('add_cuisine')}}">Add cuisine</a>
                        </li> -->
                        <li>
                            <form id="search-form" action="{{ url_for('search_box') }}" method="POST" class="col s12">
                                <input id="search" type="search" name="search_text" placeholder="Search">
                            </form>
                        </li>
                        <li>
                            <a id="sendForm" for="submit-form" class="waves-effect waves-light btn-small search-submit-button"><i class="material-icons right">search</i></a>

                        </li>
                    </ul>

                    <ul class="side-nav" id="mobile-demo">
                        <div class="mobile-nav">
                            <li>
                                <a href="{{url_for('home_page')}}">Home</a>
                            </li>
                            <li>
                                <a href="{{url_for('get_recipes')}}">Recipes</a>
                            </li>
                            <li class="divider"></li>
                            <!-- <li>
                                <a href="{{url_for('add_recipe')}}">New Recipe</a>
                            </li> -->
                            <li class="divider"></li>
                            <li>
                                <a href="{{url_for('get_cuisines')}}">Cuisines</a>
                            </li>
                            <li>
                                <form id="search-form" action="{{ url_for('search_box') }}" method="POST" class="col s12">
                                    <input id="search" type="search" name="search_text" placeholder="Search">
                                </form>
                            </li>
                            <li>
                                <a id="sendForm" for="submit-form" class="waves-effect waves-light btn-small"><i class="material-icons right">search</i></a>

                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container main-container">
        {% block content %} {% endblock %}
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red fab-button">
            <i class="large material-icons fab-button">mode_edit</i>
        </a>
        <ul>
            <!-- <li>
                <a class="btn-floating red">
                    <i class="material-icons">insert_chart</i>
                </a>
            </li>
            <li>
                <a class="btn-floating yellow darken-1">
                    <i class="material-icons">format_quote</i>
                </a>
            </li> -->
            <li>
                <a class="btn-floating green" href="{{url_for('add_cuisine')}}">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </a>Cuisine
            </li>
            <li>
                <a class="btn-floating blue" href="{{url_for('add_recipe')}}">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                </a>Recipe
            </li>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('.fixed-action-btn').floatingActionButton();
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#sendForm").click(function () {
                $("#search-form").submit();
            });
        });
    </script>

    <script src="https://use.fontawesome.com/d46ec8e634.js"></script>
</body>

</html>