{% extends 'base.html' %} {% block recipe_single %}
<div class="container">
    <div class="row">
        <div class="col l7 offset-l2 add-recipe-form">            
            {% for recipe in recipes %}
            <div class="col l12">
                <div class="card hoverable">
                    <div class="card-content">
                        <h4><span class="card-title"><strong class="strong-text"><a href="{{url_for('recipe_single', recipe_id=recipe._id)}}"
                                        class="recipe-title-text">{{recipe.title}}</a></strong></span></h4>
                        <li class="divider"></li>
                        <br>
                        <div class="row recipe">
                            <div class="col s12">
                                <p>{{recipe.description}}</p><br>
                                <p>
                                    <strong>Preparation time: </strong>{{recipe['prep-time']}} mins. <br>
                                    <strong> Cooking time: </strong>{{recipe['cooking-time']}} mins. <br>
                                    <strong>Serves: </strong>{{recipe.serves}} people.
                                    <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card hoverable">
                    <div class="card-content">
                        <h6><strong>Ingredients</strong></h6>
                        {% for ingredient in recipe.ingredients %}
                        <p>- {{ingredient['qty']}} {{ingredient['unit']}}, {{ingredient['name']}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="card hoverable">
                    <div class="card-content">
                        <h6><strong>Method:</strong></h6>
                        {% for method in recipe.method %}
                        <p>- {{method['step']}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-action card-action-icons">
                        <a href="{{url_for('upvote_recipe', recipe_id=recipe._id)}}" id="upvote" class="hvr-grow waves-effect waves-light btn btn_small darken-1 tooltipped"
                            data-position="bottom" data-tooltip="Upvote"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                        <a href="{{url_for('upvote_recipe', recipe_id=recipe._id)}}" id="upvote" class="hvr-grow waves-effect waves-light btn btn_small rose-taupe tooltipped 
                                data-position="
                            bottom" data-tooltip="Votes">{{recipe.votes}}</a>
                        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="hvr-grow waves-effect waves-light btn btn_small blue tooltipped float-right"
                            data-position="bottom" data-tooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}