{% extends 'base.html' %} {% block recipes %}
<ul class="collapsible" data-collapsible="accordion">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <div class=" task_header col s9">
                <i class="material-icons">expand_more</i> Title: {{recipe.title}} - Author: {{recipe.author}}
            </div>
        </div>
        <div class="collapsible-body">
            <span>
                {{recipe.cuisine}}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}